---
haproxy_params:
  host: '127.0.0.1'
  port: 2525
  timeout: 5

server_params:
  backend: test_backend
  server: test_server_1

server_state_down: maint
server_state_up: ready

restart_cmd: 'echo 1'
